.wgt-form {

	.container {
		padding-top: 55px;
		padding-bottom: 43px;
	}

	.section-title {
		margin: 0 0 45px;
		text-align: center;
	}

	.mailto {
		color: color(orange);
		display: block;
		text-align: center;
		font-weight: 500;
		text-decoration: none;
		@include font(15,24,20);

		&:hover {
			text-decoration: underline;
		}
	}

	.gform_wrapper {
		padding-bottom: 29px;

		textarea {
			height: 105px;
		}
	}
}


@include susy-media(break(md)) {

	.wgt-form {
		.container {
			padding-top: 75px;
			padding-bottom: 65px;
		}

		.section-title {
			margin: 0 0 75px;
		}
	}

}