.wgt-form {

	.container {
		padding-top: 55px;
		padding-bottom: 28px;
	}

	.section-title {
		margin: 0 0 45px;
		text-align: center;
	}

	.mailto {
		color: color(orange);
		display: inline-block;
		font-weight: 500;
		text-decoration: none;
		@include font(15,24,20);

		&:hover {
			text-decoration: underline;
		}
	}
}