.wgt-hero {
	text-align: center;

	.container {
		padding-top: 25px;
		padding-bottom: 28px;
	}

	img {
		margin: 0 auto 29px;
	}

	.main-title {
		margin: 0 0 71px;
	}

	.sub-title {
		margin: 0 0 26px;
	}

	.h-18 {
		color: color(orange);
		margin: 0 0 19px;
	}

	.button-wrap {
		margin: 0 0 71px;
	}

	p {
		font-weight: 500;
		@include font(16,24,80);
	}

	li {
		overflow: auto;
		padding-bottom: 23px;
	}

	p + p {
		padding-top: 13px;
	}

	h5 {
		color: color(orange);
		margin: 0 auto;
		max-width: 630px;
		font-weight: 400;
		@include font(18,30,60);
	}
}


@include susy-media(break(sm)) {

	.wgt-hero {
		.meals {
			font-size: 0;
			margin-left: - $gutter-sm/2;
			margin-right: - $gutter-sm/2;
		}

		.meals > li {
			width: span(4);
			padding: $gutter-sm/2;
			display: inline-block;
			vertical-align: top;
		}
	}
}


@include susy-media(break(md)) {
	.wgt-hero {

		.container {
			padding-top: 65px;
			padding-bottom: 150px;
		}

		.main-title {
			margin: 0 0 121px;
		}

		.button-wrap {
			margin: 0 0 111px;
		}

		.sub-title {
			margin: 0 0 44px;
		}

		&.type-menu .main-title {
			margin: 0 0 30px;
		}
	}
}