.woocommerce-checkout {

	.woocommerce-info {
		color: color(text);
		margin-bottom: 10px;
		@include font(15,1,20);

		a {
			color: color(orange);
		}
	}

	.checkout {
		padding-top: 20px;
	}

	.css-fbl {
		max-width: 100%;
		text-align: center;

		> div {
			display: inline-block;
			padding-top: 15px;
			transform: translateX(-23px);
		}
	}
}

.checkout_coupon,
.woocommerce-form-login {
	padding-bottom: 30px;
}

.payment_method_stripe {
	padding-top: 20px;

	img {
		display: inline-block;
		max-width: 30px !important;
		vertical-align: middle;
	}
}

.place-order {
	text-align: right;
}

#place_order {
	width: 100%;
	display: block;
	padding: 15px;
	text-align: center;
}

.woocommerce-checkout-review-order-table tfoot {
	text-align: right;
}

.woocommerce-additional-fields {
	padding-top: 40px;
}

#pickup_location_wrap {
	margin-bottom: 40px;

	.row {
		display: flex;
		flex-flow: row wrap;
	}

	.span-12 {
		width: 100%;
	}

	.span-6 {
		width: 50%;
	}
}

@include susy-media(break(sm)) {
	.woocommerce-checkout {

		.create-account,
		.checkout_coupon,
		.woocommerce-form-login {
			max-width: 50%;
			padding-right: $gutter-sm/2;
		}

		.row {
			display: flex;

			> div {
				width: 50%;
			}
		}
	}
}