.woocommerce-MyAccount-content {
	padding-top: 40px;

	.my_account_orders {
		text-align: center;
	}

	form {
		margin: 0 auto;
		max-width: 50%;
	}

	h3 {
		@extend .page-title;
	}
}


form.register,
.woocommerce-form-login {
	margin: 0 auto;
	max-width: 480px;

	.login-lead {
		display: none;
	}

	h2 {
		font-weight: 400;
	}

	.button {
		width: 100%;
		display: block;
		padding: 15px;
	}

	p + p,
	div + p {
		margin-top: 30px;
	}

	.fb-or {
		color: color(brand);
		margin: 20px auto 25px;
		display: block;
		font-size: rem(14);
		text-align: center;
	}

	label {
		color: color(brand);
		font-weight: 400;
	}

	.css-fbl {
		margin: 0;
		width: 100%;
		display: block;
		max-width: 100%;
		text-align: center;

		> div {
			display: inline-block;
			transform: translateX(-25px);
			padding-top: 15px;
		}
	}

	.register {
		color: color(brand);
		margin: 35px 0 0;
		text-align: center;
		font-weight: 300;
		@include font(16,28);

		a {
			color: color(brand);
			font-weight: 300;
			text-decoration: underline;
			@include link-colors(color(brand));

			&:hover {
				text-decoration: none;
			}
		}
	}
}