.button-wrap {
	margin: 0;
}

%btn {
	display: inline-block;
	line-height: 0;
	text-decoration: none;
}

.btn-transparent {
	@extend %btn;
	color: white;
	border: 2px solid white;
	padding: 30px 57px;
	border-radius: 4px;
	font-size: rem(15);
	font-weight: 600;
	text-transform: uppercase;
	@include link-colors(white);

	&:hover {
		background: rgba(white, .2);
	}
}

.btn-white {
	@extend %btn;
	color: color(brown-2);
	border: 2px solid white;
	padding: 19px 32px;
	font-size: rem(14);
	font-weight: 200;
	background: white;
	border-radius: 50px;
	letter-spacing: spacing(80);
	@include link-colors(color(brown-2), white);

	&:hover {
		background: color(brown-1);
	}
}


.btn-submit,
.search-submit {
	@extend %btn;
	color: white;
	border: none;
	padding: 21px 31px;
	font-size: rem(14);
	background: color(brown-2);
	font-weight: 400;
	letter-spacing: spacing(80);
	@include link-colors(white);

	&:hover {
		opacity: .8;
	}
}

.edit,
.button {
	@extend %btn;
	color: white;
	padding: 7px 15px;
	background: color(brown-4);
	font-weight: 400;
	@include link-colors(white);
	@include font(13,1,60);

	&:hover {
		opacity: .9;
	}
}

.checkout-button,
.single_add_to_cart_button {
	padding: 19px 52px 20px;
	border-radius: 25px;
}

#place_order,
.checkout-button {
	padding: 10px 24px;
	text-transform: uppercase;
	border-radius: 25px;
}