.nav,
.woocommerce-MyAccount-navigation {

	a {
		color: white;
		display: block;
		padding: 7px 10px;
		font-weight: 600;
		text-align: center;
		text-transform: uppercase;
		text-decoration: none;
		@include link-colors(white, color(orange));
		@include font(14,1,80);
	}

	.is-active > a,
	li.active > a {
		color: color(orange);
		@include link-colors(color(orange));
	}
}

.woocommerce-MyAccount-navigation {
	background: color(brown-1);

	ul {
		margin: 0;
		padding: 5px;
		list-style: none;

		li {
			display: inline-block;
		}
	}
}

.navbar-user {
	top: 0;
	right: 20px;
	margin: 0;
	padding: 0;
	position: fixed;

	ul {
		margin: 0;
		padding: 0;
		list-style: none;
	}

	ul li {
		display: inline-block;
	}

	ul li + li {
		margin-left: 3px;
	}

	a {
		color: color(text);
		display: block;
		padding: 9px 12px;
		background: color(orange);
		text-transform: uppercase;
		text-decoration: none;
		@include font(13,1,20);
		@include link-colors(color(text));
	}
}

.admin-bar .navbar-user {
	top: 32px;
}

.navbar-main {

	& > ul > li {
		display: inline-block;
	}

	&.left {
		text-align: right;
		padding-right: 22px;
	}

	&.right {
		padding-left: 22px;
	}
}


.nav-weeks {
	display: flex;
	flex-flow: row wrap;
	align-items: center;
	margin-bottom: 20px;
	justify-content: center;

	li

	a span {
		@extend %sr-only;
	}

	a {
		color: color(text);
		@include link-colors(color(text));
	}

	.next:before,
	.prev:before {
		display: inline-block;
		font-size: rem(24);
		font-weight: 700;
	}

	.next:before {
		content: '\2192';
		padding-left: 10px;
	}

	.prev:before {
		content: '\2190';
		padding-right: 10px;
	}
}

@include susy-media(0 break(sm-1 )) {
	.nav-mobile {
		top: 100%;
		left: 0;
		width: 100%;
		position: absolute;
		background: rgba(color(brown-1), .98);

		a {
			padding: 15px;
		}

		li + li {
			border-top: 1px solid color(brown-2);
		}
	}
}

@include susy-media(break(sm)) {
	.nav-mobile {
		max-height: initial;
		text-align: center;
		margin-top: 20px;

		> li {
			display: inline-block;
		}
	}

}


@include susy-media(break(xl)) {

	.nav a {
		padding: 7px 17px;
	}

	.navbar-main {
		&.left {
			padding-right: 42px;
		}

		&.right {
			padding-left: 42px;
		}
	}
}