.navbar-toggle {
	top: 50%;
	right: $gutter-xs;
	width: 30px;
	height: 16px;
	margin: 0;
	border: none;
	padding: 0;
	position: absolute;
	transform: translateY(-50%);
	background: none;

	&:before {
		top: 0;
		left: 0;
		width: 100vw;
		height: 100vh;
		display: block;
		position: fixed;
		transform: translateX(-330px);
	}

	@include hs {
		cursor: pointer;
		outline: none;
	}

	span {
		left: 2px;
		right: 2px;
		height: 2px;
		display: block;
		position: absolute;
		transition: background .2s .2s;
		background: white;
		text-indent: -999em;
		border-radius: 2px;

		&:after,
		&:before {
			left: 0;
			right: 2px;
			width: 100%;
			height: 2px;
			content: '';
			display: block;
			position: absolute;
			transform: rotate(0);
			background: white;
			border-radius: 2px;
			transform-origin: 50%;
		}

		&:before {
			top: 7px;
			transition: top .1s ease-out .2s, transform .2s ease-out .1s;
		}

		&:after {
			bottom: 7px;
			transition: bottom .1s ease-out .2s, transform .2s ease-out .1s;
		}
	}

	@include susy-media(break(sm)) {
		display: none;
	}
}

.active-nav-mobile .navbar-toggle {

	&:before {
		content: '';
	}

	span {
		transition: background .2s .2s;
		background: none;
		transform-origin: 40%;

		&:before {
			top: 0;
			transform: rotate(-45deg);
			transition: top .2s ease 0s, transform .15s ease-in .2s;
		}

		&:after {
			bottom: 0;
			transform: rotate(45deg);
			transition: bottom .2s ease 0s, transform .15s ease-in .2s;
		}
	}

}