/**
 * Off Canvas
 * --------------------------------------------------
 */

.sidebar-offcanvas {
    display: none;

    .menu-wrap {
        width: 270px;
        height: 100vh;
        overflow: scroll;
        padding-right: 10px;
    }

    .logo {
        padding: 30px 10px 30px;
    }

    img {
        margin: 0 auto;
        max-width: 140px;
    }
}

.navbar-toggle {
    top: 50%;
    right: 15px;
    width: 30px;
    height: 16px;
    margin: 0;
    border: none;
    padding: 0;
    z-index: 123;
    position: absolute;
    transform: translateY(-50%);
    background: none;

    &:before {
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        display: block;
        position: fixed;
        transform: translateX(-330px);
    }

    @include hs {
        cursor: pointer;
        outline: none;
    }

    span {
        left: 2px;
        right: 2px;
        height: 3px;
        display: block;
        position: absolute;
        transition: background 0s .2s;
        background: white;
        text-indent: -999em;

        &:after,
        &:before {
            left: 0;
            right: 2px;
            width: 100%;
            height: 3px;
            content: '';
            display: block;
            position: absolute;
            background: white;
            transition-delay: .2s, 0s;
            transition-duration: .2s, .2s;
        }

        &:before {
            top: 7px;
            transition-property: top, transform;
        }

        &:after {
            bottom: 7px;
            transition-property: bottom, transform;
        }

    }

    @include susy-media(break(sm)) {
        display: none;
    }
}

.nav-active .navbar-toggle {

    &:before {
        content: '';
    }

    span {
        background: none;

        &:before {
            top: 0;
            transform: rotate(-45deg);
            transition-delay: 0s, .2s;
        }

        &:after {
            bottom: 0;
            transform: rotate(45deg);
            transition-delay: 0s, .2s;
        }
    }

}

@include susy-media(0 $offcanvas-break) {
    body {
        width: 100%;
        height: 100%;
        position: relative;
        overflow-x: hidden;
        -webkit-overflow-scrolling: touch;
    }

    .row-offcanvas {
        height: 100%;
        margin: 0;
        position: relative;
        transition: all .3s ease-out;

        &.right .sidebar-offcanvas {
            left: 100%;
            transform: translateX(0);
        }
    }

    .nav-active {
        overflow: hidden;
        
        .row-offcanvas.right {
            transform: translateX(-250px);
        }

        .banner {
            transform: translateX(-250px);
        }

        .wrap {
            filter: grayscale(70%) blur(2px);
            transition: all .3s ease-in;
        }
    }

    .sidebar-offcanvas {
        top: 0;
        width: 250px;
        height: 100vh;
        margin: 0;
        display: block;
        padding: 0;
        overflow: hidden;
        position: fixed;
        min-height: 100vh;
    }
}