body {
	font-family: $font-default;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
	line-height: 1.2;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.sr-only {
	@extend %sr-only;
}

.cf {
	@include susy-clearfix;
}


.toggler {
	overflow: hidden;
	max-height: 0;
	transition: max-height .3s ease-in;
}

.toggler.active {
	max-height: 2000px;
	transition: max-height .3s ease-out;
}


h1, h2, h3 {
	margin-top: 0;
}

p {
	margin: 0 0 10px;
}

ul, ol {
	margin: 0;
	padding: 0;
	list-style: none;
}

img {
	height: auto;
	display: block;
	max-width: 100%;
}

a {
	color: color(orange);
	font-weight: 500;
	text-decoration: none;
	@include link-colors(color(orange));

	&:hover {
		text-decoration: underline;
	}
}

abbr {
	border: none;
	text-decoration: none;
}

.h-82 {
	font-weight: 200;
	@include font(36);
}

.h-18 {
	font-weight: 600;
	font-size: rem(18);
	letter-spacing: spacing(140);
}

.section-title {
	font-size: rem(34);
	font-weight: 200;
	letter-spacing: spacing(80);
}

.entry-title {
	font-weight: 200;
	@include font(34,41,100);
}

.page-title {
	margin: 0 0 15px;
	font-weight: 600;
	@include font(26,30,20);
}

figure,
fieldset {
	border: none;
	margin: 0;
	padding: 0;
}

.inline {
	display: inline-block;
}


@include susy-media(break(sm)) {
	.h-82 {
		font-size: rem(48);
	}
}



@include susy-media(break(md)) {
	.h-82 {
		font-size: rem(62);
	}

	.section-title {
		font-size: rem(42);
	}
}


@include susy-media(break(xl)) {
	.h-82 {
		font-size: rem(82);
	}
}