/**
 * Grid Setup
 */
@include border-box-sizing;

.container,
.main > .woocommerce {
	position: relative;
	@include container;
	@include pad($gutter-xs);

	.container {
		padding-left: 0;
		padding-right: 0;
	}
}

.row {
	margin-left: - $gutter-xs/2;
	margin-right: - $gutter-xs/2;
	@include susy-clearfix;

	[class*="span-"] {
		position: relative;
		padding-left: $gutter-xs/2;
		padding-right: $gutter-xs/2;
	}
}


.rwd-container {
	@extend %rwd-container;
}