/**
 * Grid Setup
 */
@include border-box-sizing;

.container {
	position: relative;
	@include container;
	@include pad( $gutter/2 );

	.container {
		padding-left: 0;
		padding-right: 0;
	}
}

.row {
	margin-left: - $gutter/2;
	margin-right: - $gutter/2;
	@include susy-clearfix;

	[class^="span-"] {
		position: relative;
		padding-left: $gutter/2;
		padding-right: $gutter/2;
	}
}


.rwd-container {
	@extend %rwd-container;
}