/**
 * Grid Setup
 */
@include border-box-sizing;

.container {
	position: relative;
	@include container;
	@include pad(28px);

	.container {
		padding-left: 0;
		padding-right: 0;
	}
}

.row {
	margin-left: -28px;
	margin-right: -28px;
	@include susy-clearfix;

	[class^="span-"] {
		position: relative;
		padding-left: $gutter/2;
		padding-right: $gutter/2;
	}
}


.rwd-container {
	@extend %rwd-container;
}