.header {
	top: 0;
	left: 0;
	width: 100%;
	z-index: 101;
	position: absolute;
	padding-top: $gutter;
	padding-bottom: $gutter;

	.logo {
		margin: 0 auto;
		max-width: 180px;
	}

	& + .wrap .wgt:first-child {
		padding-top: 103px;
	}
}